.container {
  width: 90%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #000;
}

.form-label h3 {
  font-size: 1.5em;
  margin: 0;
  background-color: #000;
  color: #fff;
  border-radius: 10px 10px 0 0;
  width: 100%;
  padding: 1rem 2.5rem 1rem 5rem;
  position: relative;
  display: inline-block;
}

.form-label h3::after {
  content: "1"; /* The symbol */
  font-size: small;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  vertical-align: middle;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 5rem 5rem;
}

.form-container {
  margin-bottom: 20px;
}

.input-parent {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #555;
}

.bolded-form-label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #000;
}

.form-input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid #555;
  width: 50%;
  padding: 1rem 0;
  padding-bottom: 0.2rem;
}

.form-input:focus {
  border-bottom: 2px solid #555;
}

.form-input::placeholder {
  font-size: 0.8em;
  color: #c1c1c1;
}

.drop-down-container .form-input {
  background-color: transparent;
  background-size: 12px;
  padding-right: 30px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-parent {
  display: flex;
  align-items: center;
}

.checkbox-parent input[type="checkbox"] {
  display: none;
}

.checkbox-parent input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 10px;
  vertical-align: text-bottom;
}

.checkbox-parent input[type="checkbox"]:checked + label:before {
  content: "\2714";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
  vertical-align: text-bottom;
}

.checkbox-parent label {
  line-height: 15px;
  vertical-align: middle;
}

.submit-button {
  background-color: #000;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 70%;
}

.submit-button.btn-disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
button:hover {
  background-color: #000;
}

textarea.form-input {
  resize: none;
}

.owner-ref-address-container {
  display: flex;
  flex-direction: column;
}

.fetched-value {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .form {
    padding: 20px;
  }
  .form-label h3 {
    padding: 20px;
  }

  .form-input {
    width: 100%;
  }

  textarea.form-input {
    width: calc(100% - 22px);
  }
}

.hidden {
  display: none;
}
