.container {
  margin: auto;
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 90%;
  max-width: 800px;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  min-height: 400px;
}

.checkbox-parent {
  display: flex;
}

.form-checkbox {
  width: 20px !important;
}

.input-parent {
  flex: 1 !important;
}

.form-container {
  display: flex;
}

.checkbox-container {
  display: block;
}

.input-parent:first-child {
  margin-right: 70px;
}

.form-label h3 {
  width: 100%;
  background: var(--black-background);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 2.5rem;
  color: var(--light-text-color);
}

.form-input[type="text"],
#dropDown,
.form-input {
  display: block;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  width: 50%;
  padding: 1rem 0;
  padding-bottom: 0.2rem;
}

.form {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  font-size: small;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}
.bolded-form-label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-weight: 500;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.submit-button {
  margin-top: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  width: 70%;
  background: var(--primary-text-color);
  color: var(--light-text-color);
  font-weight: 500;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #12171c;
}

.btn-disabled {
  opacity: 0.3 !important;
}

.hidden {
  display: none;
}

.owner-ref-address-ckeckbox .form-checkbox:checked + .owner-ref-address {
  display: block;
}
